<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookends</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/home.css"
    />
      
  </head>

  <body>
    <header class="">
      <h1 style="font-size: 40px">Bookends</h1>
      <nav>
        <ul>
          <li>
            <a href="/"><h2>Home</h2></a>
          </li>

          <li>
            <a href="/profile"><h2>Profile</h2></a>
          </li>

          {{#if logged_in}}
            <li>
              <button id="logout">Logout</button>
            </li>
          {{else}}
            <li>
              <a href="/login"><h2>Login</h2></a>
            </li>
          {{/if}}

        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>