<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Bookends</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel='stylesheet' type='text/css' media='screen' href='/css/home.css'>
</head>


<body>
    <header>
      <p style="font-size: 40px">Bookends</p>
      <nav>
        <ul>
          <li>
            <a><h1>Home</h1></a>
          </li>

          <li>
            <a><h1>Profile</h1></a>
          </li>

            <li>
              <a href="/login"><h1>Login</h1></a>
            </li>

            <li>
              <a ><h1>Log out</h1></a>
            </li>
        </ul>
      </nav>
    </header>
    <main>
     {{{body}}}
    </main>
    <footer></footer>
  </body>
</html>