<div id="login">
  <section class="container forms">
    <div class="form login">
      <div class="form-content">
        <header>Login</header>
        <form id="login-form">
          <div class="field input-field">
            <input
              type="email"
              placeholder="Email"
              class="input"
              id="email-login"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Password"
              class="password"
              id="password-login"
            />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="field button-field">
            <button type="submit">Login</button>
          </div>
        </form>

        <div class="form-link">
          <span>Don't have an account?
            <a href="#" class="link signup-link">Signup</a></span>
        </div>
      </div>

    </div>

    <!-- Signup Form -->

    <div class="form signup">
      <div class="form-content">
        <header>Signup</header>
        <form id="signup-form">
          <div class="field input-field">
            <input
              type="email"
              placeholder="Email"
              class="input"
              id="email-signup"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Password"
              class="password"
              id="password-signup"
            />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="field button-field">
            <button type="submit">Signup</button>
          </div>
        </form>

        <div class="form-link">
          <span>Already have an account?
            <a href="#" class="link login-link">Login</a></span>
        </div>
      </div>

    </div>
  </section>

</div>

<script src="./js/login.js"></script>
<script src="./js/showpass.js"></script>