
<section class="profile-display">
    <figure class="image is-128x128">
         <img class="is-rounded" src="https://picsum.photos/200/200">
          <h1 class="username">{{email}}</h1>
    </figure>
</section>

<section class="bulma-tiles">
<div class="tile is-ancestor">
  <div class="tile is-12 is-parent">
    
      {{#each reviews as |review|}}
      <article class="tile is-child box">
        <h2 class="title">{{review.book.title}}</h2>
           <p class="subtitle">    
        {{review.review}}</p>  
          <figure class="image is-3by4">
            <img src="/images/{{review.book.filename}}">
          </figure>
            </article>
                {{/each}}
  </div>
</div>
</section>

