
<section class="profile-display">
    <figure class="image is-128x128">
         <img class="is-rounded" src="https://picsum.photos/200/200">
          <h1 class="username">{{email}}</h1>
    </figure>
</section>

<section class="bulma-tiles">
<div class="tile is-ancestor">
  <div class="tile is-12 is-parent">
    <article class="tile is-child box">
          <p class="title">{{title}}</p>
           <p class="subtitle">{{#each reviews as |review|}}
        {{review.review}}
        {{/each}}</p>
          <figure class="image is-3by4">
            {{!-- <img src="/images/{{filename}}"> --}}
          </figure>
        </article>

    <article class="tile is-child box">
          <p class="title">Title</p>
          <figure class="image is-3by4">
            <img src="https://loremflickr.com/345/450/dog">
          </figure>
        </article>

   <article class="tile is-child box">
          <p class="title">Title</p>
          <figure class="image is-3by4">
            <img src="https://loremflickr.com/345/450/person">
          </figure>
        </article>
  </div>
</div>
</section>

